

/* ------------------------STYLE FOR HOMEPAGE---------------------- */
.h1{
    font-family: 'DM Serif Display', serif;
}

.light{
    transform: translate(-50%, -20%);
}

.sofa{
    transform: translate(-50%, 35%);
}

.plant{
    transform: translate(130%, 205%);
}

.brad-left{
    transform: translate(-195%, 5%);
}

.brad2-left{
    transform: translate(-0%, 5%);
}

.brad-right{
    transform: translate(-107%, 25%);
}

.brad2-right{
    transform: translate(95%, 25%);
}

.section:after{
    position: absolute;
    width: 100%;
    content: 'Home Decor';
    color: #fef3db;
    font-size: 170px;
    line-height: 170px;
    font-family: 'Mea Culpa', cursive;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -30%);
    padding: 0 20px;
    z-index: 100;
}

.clock{
    transform: translate(160%, 80%);
}

@media (max-width: 768px){
    .plant{
        transform: translate(130%, 205%);
    }

    .brad-left{
        transform: translate(-195%, 5%);
    }
    
    .brad-right{
        transform: translate(-107%, 25%);
    }
    
    .brad2-left{
        transform: translate(-0%, 5%);
    }
    
    .brad2-right{
        transform: translate(95%, 25%);
    }

    .section:after{
        font-size: 100px;
        line-height: 120px;
        transform: translate(-50%, -10%);
    }

    .clock{
        transform: translate(170%, 90%);
    }
}

@media (max-width: 640px){
    .sofa{
        transform: translate(-50%, 85%);
    }

    .plant{
        transform: translate(138%, 352%);
    }
    .clock{
        transform: translate(173%, 155%);
    }
}

@media (max-width: 480px){
    .para{
        margin: 0;
    }

    .sofa{
        max-width: 350px;
        transform: translate(-50%, 80%);
    }
    .plant{
        max-width: 100px;
        transform: translate(140%, 340%);
    }

    .brad-left{
        height: 529px;
        max-width: 180px;
        transform: translate(-195%, 5%);
    
    }
    
    .brad-right{
        height: 444px;
        max-width: 180px;
        transform: translate(-107%, 25%);
    
    }
    
    .brad2-left{
        height: 529px;
        max-width: 180px;
        transform: translate(-0%, 5%);
    
    }
    
    .brad2-right{
        height: 444px;
        max-width: 180px;
        border-radius: 0 210px 0 0;
        background-color: #d2d2d2;
        transform: translate(95%, 25%);
    
    }

    .section:after{
        font-size: 70px;
        top: 40%;
    }
}


@media (max-width: 280px){
    /* .section{
        height: 100vh;
    } */

    .sofa{
        max-width: 280px;
        transform: translate(-50%, 110%);
    }

    .plant{
        max-width: 75px;
        transform: translate(133%, 447%);
    }

    .light{
        max-width: 180px;
    }

    .h1{
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
    }

    .para{
        padding: 0;
    }

    .section:after{
        font-size: 57px;
        top: 40%;
    }

}





/* COLLECTION */
.heading{
    font-family: 'DM Serif Display', serif;
}

.bed{
    box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
-webkit-box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
-moz-box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
}

.bed-overlay{
    transform: translate(-50%, -50%);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.633578431372549) 0%, rgba(255,255,255,0) 61%);
}

.bed:hover .bed-overlay{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.7344187675070029) 27%, rgba(255,255,255,0) 95%);
}

.bed-content h1{
    font-family: 'DM Serif Display', serif;
}


.kitchen{
    box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
-webkit-box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
-moz-box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
}

.kitchen-overlay{
    transform: translate(-50%, -50%);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.633578431372549) 0%, rgba(255,255,255,0) 61%);
}

.kitchen:hover .kitchen-overlay{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7344187675070029) 27%, rgba(255,255,255,0) 95%);
}

.kitchen-content h1{
    font-family: 'DM Serif Display', serif;
}


.restroom{
    box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
-webkit-box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
-moz-box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
}

.restroom-overlay{
    transform: translate(-50%, -50%);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.633578431372549) 0%, rgba(255,255,255,0) 61%);
}

.restroom:hover .restroom-overlay{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7344187675070029) 27%, rgba(255,255,255,0) 95%);
}

.restroom-content h1{
    font-family: 'DM Serif Display', serif;
}

.living{
    box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
-webkit-box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
-moz-box-shadow: 6px 10px 22px -12px rgba(0,0,0,0.62);
}

.living-overlay{
    transform: translate(-50%, -50%);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.633578431372549) 0%, rgba(255,255,255,0) 61%);
}

.living:hover .living-overlay{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.7344187675070029) 27%, rgba(255,255,255,0) 95%);
}

.living-content h1{
    font-family: 'DM Serif Display', serif;
}








/* --------------NEW ARRIVALS----------- */
.new-arrival{
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.col-md-4{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.arrival h1{
    font-family: 'DM Serif Display', serif;
}

.cards.container{
    padding: 10px 5px;
}

.category h2{
    box-shadow: 6px 10px 30px -8px rgba(0,0,0,0.77);
-webkit-box-shadow: 6px 10px 30px -8px rgba(0,0,0,0.77);
-moz-box-shadow: 6px 10px 30px -8px rgba(0,0,0,0.77);
}

.slide-track{
    padding: 5px;
    margin: 0 auto;
}


.slick-list.draggable{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.slick-prev.slick-arrow::before{
    color: #000;
    background-color: transparent;
    font-size: 30px;
    left: 10px;
}

.slick-next.slick-arrow::before{
    color: #000;
    font-size: 30px;
    background-color: transparent;
}

.slider .slick-dots li button:before{
    font-size: 10px;
    color: #c3bbb7;
    opacity: 1;
}

.slider .slick-dots li.slick-active button:before{
    color: #000;
    font-size: 14px;
    opacity: 1;
}


/* -------------SERVICE------------- */

.service{
    box-shadow: 22px 23px 52px -20px rgba(0,0,0,0.37);
-webkit-box-shadow: 22px 23px 52px -20px rgba(0,0,0,0.37);
-moz-box-shadow: 22px 23px 52px -20px rgba(0,0,0,0.37);
    border-radius: 16px;
}


/* ---------------NEWSLETTER--------------- */

.bxs-certification::after{
    position: absolute;
    content: '100%';
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.subscribe button{
    transform: translate(-5%, -50%);
}

.newsletter-bg{
    transform: translate(-50%, 50%);
}

@media (max-width: 640px){
    .subscribe button{
        transform: translate(-15%, -50%);
    }
}
